body {
   background-color: #ffffff;
   font-family: Arial;
   text-align: center;
}

h1 {
   color: #f700ff;
}

img {
   border-radius: 10px;
}

table {
   margin: auto;
   background-color: white;
}

button {
   padding: 10px;
   background-color: #f700ff;
   color: white;
   border: none;
   border-radius: 5px;
}
